.contenitore-articolo {
  max-width: 800px;          
  padding-left: 15px;         
  padding-right: 15px;        
  margin-left: auto;          
  margin-right: auto;         
  margin-top: 20px;           
}

.corpo-articolo {
  text-align: left;  
  line-height: 1.6;           
  width: 100%;                
  
  white-space: pre-wrap;       
  
  overflow-wrap: break-word;   
  word-wrap: break-word;       
  word-break: break-word;      
}