.contenitore-articolo {
  max-width: 800px;          
  padding: 0 15px;            
  margin: 20px auto 0;        
}

.titolo-articolo,
.area-tag,
.corpo-articolo {
  overflow-wrap: break-word;   
  word-wrap: break-word;       
  word-break: break-word;      
}

.titolo-articolo {
  text-align: center;         
  margin-bottom: 5px;        
}

.area-tag {
  text-align: center;        
  margin-bottom: 20px;  
}

.corpo-articolo {
  text-align: left;           
  line-height: 1.6;           
  white-space: pre-wrap;    
}