<section>
  <h1>Crea Account</h1>
</section>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Inserisci la tua email</ng-template>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <div>
        <button class="custom_button" matStepperNext>>></button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Inserisci la tua password">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <div>
        <button class="custom_button" matStepperPrevious><<</button>
        <button class="custom_button" matStepperNext>>></button>
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>Fatto!</ng-template>
    <p>Clicca "Avanti" per completare la registrazione</p>
    <div>
      <button class="custom_button" matStepperPrevious><<</button>
      <button class="custom_button" (click)="submitRegistration()">Avanti</button>
    </div>
  </mat-step>
</mat-stepper>