section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin:20px 0;
}

h1 {
    color: cornflowerblue;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}