.admin-container {
  max-width: 600px;
  margin: 0 auto;
}

.admin-section {
  margin-bottom: 25px;
  text-align: left;
}

.admin-list {
  list-style-type: none;
  padding: 0;
}

.admin-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
