.admin-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/*Per Smartphone*/
@media (max-width: 576px) {
  .admin-table th, 
  .admin-table td {
    padding: 10px 12px; /* Compatta lo spazio interno per far stare più testo */
    font-size: 14px;    /* Rimpicciolisce leggermente il testo sui micro schermi */
  }
}

/*Per Tablet*/
@media (max-width: 1280px) and (min-width: 768px) {
  .admin-table th, 
  .admin-table td {
    padding: 16px 20px; /* Celle più ampie per il tocco delle dita */
    font-size: 16px;    /* Testo più grande leggibile da lontano */
  }
}