<section>
  <h1 class="custom_h1">Wikiwelp</h1>
</section>

<section>
  <p *ngIf="servizio.isLoggedIn()">Benvenuto {{ servizio.getEmail() }}</p>
</section>

<section>
  <img *ngIf="!servizio.isDarkMode()" src="images/logo.svg" />
  <img *ngIf="servizio.isDarkMode()" src="images/logo_dark.svg" />
</section>

<section>
  <p>Cerca qualunque cosa tu desideri</p>
</section>

<section>
  <div class="search">
    <input type="text" [(ngModel)]="searchQuery" (keyup.enter)="search()" placeholder="Cerca..." />
    <button type="button" class="custom_button" (click)="search()">Vai!</button>
  </div>
</section>

<section>
  <div class="button-row">
    <button class="custom_button" *ngIf="!servizio.isLoggedIn()" routerLink="/login">Login</button>
    <button class="custom_button" *ngIf="!servizio.isLoggedIn()" routerLink="/register">
      Registrati
    </button>

    <button class="custom_button" *ngIf="servizio.isLoggedIn()" (click)="logout()">Logout</button>
    <button class="custom_button" *ngIf="servizio.isLoggedIn()" routerLink="/edit">Crea</button>
    <button class="custom_button" *ngIf="servizio.isAdmin()" routerLink="/admin">Admin</button>
  </div>
</section>
