/* You can add global styles to this file, and also import other style files */
@import '@syncfusion/ej2-base/styles/material.css'; /**/
@import '@syncfusion/ej2-icons/styles/material.css'; /*Icone grafiche dei pulsanti*/
@import '@syncfusion/ej2-buttons/styles/material.css'; /*pulsanti classici*/
@import '@syncfusion/ej2-splitbuttons/styles/material.css'; /*pulsanti speciali*/
@import '@syncfusion/ej2-inputs/styles/material.css'; /*campi di testo*/
@import '@syncfusion/ej2-lists/styles/material.css'; /*elenchi e liste*/
@import '@syncfusion/ej2-navigations/styles/material.css'; /*toolbar*/
@import '@syncfusion/ej2-popups/styles/material.css'; /*finestre a comparsa*/
@import '@syncfusion/ej2-richtexteditor/styles/material.css'; /*stile del contenitore dell'editor*/


body{
    background-color: white;
    color:cornflowerblue;
}

.e-richtexteditor .e-toolbar .e-toolbar-item .e-tbar-btn {
    background-color: grey;
}

.e-richtexteditor .e-toolbar .e-dropdown-btn {
    background-color: grey;
    color: cornflowerblue;
}

.e-richtexteditor .e-toolbar .e-icons {
    color: cornflowerblue;
}

/*Dark mode*/
/*Colori sfondo e scritte*/
body.darkMode{
    background-color: black;
    color: dodgerblue;
}

/*Colore toolbar*/
body.darkmode .e-richtexteditor .e-toolbar {
    background-color: gray;
}

/*Colore pulsanti toolbar*/
body.darkMode .e-richtexteditor .e-toolbar .e-toolbar-item .e-tbar-btn {
    background-color: black;
}

/*Colore pulsanti a tendina toolbar*/
body.darkMode .e-richtexteditor .e-toolbar .e-dropdown-btn {
    background-color: gray;
    color: dodgerblue;;
}

/*Colore icone toolbar*/
body.darkMode .e-richtexteditor .e-toolbar .e-icons {
    color: dodgerblue;
}

/**/

.dark-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  padding: 10px;
  border-radius: 50%;

  background-color: black;
}

.dark-toggle.dark{
    background-color: white;
}

.custom_button{
    cursor: pointer;
    color: white;
    background-color:dodgerblue;
    border-color:cornflowerblue;
}

.custom_h1 {
    color: cornflowerblue;
}

section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin:20px 0;
}