/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
    color:black;
}

body.darkMode{
    background-color: black;
    color: white;
}

.dark-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  padding: 10px;
  border-radius: 50%;

  background-color: black;
  color: white;
}

.dark-toggle.dark{
    background-color: white;
    color: black;
}

button{
    cursor: pointer;
    color: white;
    background-color:dodgerblue;
    border-color:cornflowerblue;
}

h1 {
    color: cornflowerblue;
}

section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin:20px 0;
}